body {
  background-color: slategray;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 9;
}

.App td {
  padding: 0;
  border: 1px solid black;
}

input {
  width: 60%;
}

.buttons {
  color: goldenrod;
  background-color: blue;
  border: 1px solid darkgoldenrod;
}

.tableOne {
  width: 50px;
  position: absolute;
  z-index: 5;
  background-color: yellow;
}

.tableTwo {
  width: 50px;
  position: absolute;
  backgroud-color: red;
}

.outer {
  position: realtive;
}
