body {
  background-color: slategray;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 9;
}

.App td {
  padding: 0;
  border: 1px solid black;
}

input {
  width: 60%;
}

.buttons {
  color: goldenrod;
  background-color: blue;
  border: 1px solid darkgoldenrod;
}

.tableOne {
  position: absolute;
}

.tableTwo {
  position: absolute;
  opacity: 50%
}

.outer {
  position: realtive;
  width: 400px;
}

.outer td {
  width: 50px;
}
